:root {
  font-size: 62.5%; /*10px*/
  margin: 0;
  padding: 0;
}

* {
  text-align: center;
  color: #e1e1e6;
  box-sizing: border-box;
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  font-size: 1.4rem;
}

body {
  /* background: linear-gradient(to top, #1e1e1e 40%, hsl(213, 89%, 20%)); */
  background: #1e1e1e;
  background-image: url(./files/bg.svg);
  background-size: 100%;
  background-position-x: center;
  background-position-y: 55%;
  background-repeat: no-repeat;
}

header h1 {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(217, 217, 217, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  margin: 0;
}

h2 span {
  color: #f7dd43;
  font-size: 2.4rem;
}

p {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 125%;
}

.wrapper {
  max-width: 44.3rem;

  margin: 6.3rem auto 11.2rem auto;
}

.date {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.8rem 1.6rem;
  gap: 1.6rem;

  min-width: 17.7rem;
  width: fit-content;
  height: 4.6rem;

  border: 1px solid #746615;
  border-radius: 6px;
}

header {
  height: 6.4rem;
}

header img {
  width: 10rem;
  margin-bottom: 0.8rem;
}

header h1 {
  font-size: 30px;
}

.card {
  padding: 3.2rem 3.3rem;
  margin-top: 3.2rem;

  background: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;
}

.card ul li img {
  width: 50px;
}

.card ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.card ul li {
  display: flex;
  gap: 2.4rem;
  text-align: center;
  justify-content: space-between;
}

.card ul li + li {
  border-top: 1px solid #323238;
}

/* =========================== Reset =========================== */
@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    gap: 3.2rem;
    justify-content: center;
  }

  header .wrapper {
    display: block;
  }

  .card {
    width: 31.6rem;
  }
}
