:root {
  font-size: 62.5%; /*10px*/
  margin: 0;
  padding: 0;

  /*====== cores ======*/
  --card-border-color: #338af3;
  --card-h2-border-color: #338af3;
  --card-bg-color: #202024;
  --bg: #287fe96b;
  --bg-blue-mobile: linear-gradient(
    to bottom,
    #006187,
    hsl(213, 89%, 20%) 50%,
    #24004e
  );
  --bg-green-mobile: linear-gradient(to bottom, #228b22, #1c4518 50%);
}

#button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 3px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
}

body.green {
  --bg: rgba(26, 139, 81, 0.453);
  --card-h2-border-color: #047c3f;
  --card-bg-color: #1a1f1b;
  --card-border-color: #047c3f;
}

body.yellow {
  --bg: url(./files/bg-yellow.svg);
  --card-h2-border-color: #f7dd43;
  --card-bg-color: #1d1c19;
  --card-border-color: #f7dd43;
}

.background {
  position: fixed;

  display: block;

  top: 0;

  left: 0;

  z-index: -1;

  height: 100%;
  width: 100%;

  background: var(--bg);
}

#bg-switch {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
}

svg #qatar:hover {
  fill: red;
}

* {
  text-align: center;
  color: #e1e1e6;
  box-sizing: border-box;
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  font-size: 1.4rem;
}

body {
  /* background: linear-gradient(to top, #1e1e1e 40%, hsl(213, 89%, 20%)); */
  background: #1e1e1e;
  background-image: var(--bg);
  background-size: 100%;
  background-position-x: center;
  background-position-y: 50%;
}

header h1 {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(217, 217, 217, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  margin: 0;
}

h2 {
  text-transform: uppercase;
}

h2 span {
  color: var(--card-color);
  font-size: 2.4rem;
  color: #f7dd43;
}

p {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 125%;
}

.wrapper {
  max-width: 44.3rem;

  margin: 6.3rem auto 8rem auto;
}

.card h2 {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;

  min-width: 17.7rem;
  width: fit-content;

  margin-inline: auto;
  margin-bottom: 5.3rem;
  padding: 0.8rem 1.6rem;

  border: 1px solid var(--card-h2-border-color);
  border-radius: 6px;
}

header {
  height: 6.4rem;
}

header img {
  width: 13rem;
}

header h1 {
  font-size: 3rem;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  margin-top: 15rem;
  margin-inline: auto;
}

.card {
  padding: 3.2rem 3.3rem;
  margin-top: 3.2rem;
  margin-inline: auto;

  width: 31.6rem;
  min-height: 300px;

  background: hsl(45, 7%, 11%, 0.85);
  border-bottom: 2px solid var(--card-border-color);
  border-radius: 6px;
}

.card:hover {
  box-shadow: var(--card-border-color) 3px 10px 10px -4px;
}

.card + .card {
  margin-top: 0;
}

ul li img {
  width: 50px;
  height: 50px;
}

.card ul {
  display: flex;
  flex-direction: column;
  list-style: none;

  padding: 0;
  margin-bottom: 0;
}

.card ul li {
  display: flex;
  gap: 2.4rem;

  text-align: center;
  justify-content: space-between;
  align-items: center;

  height: 10rem;
}

.card ul li + li {
  border-top: 1px solid #323238;
}

/* ========================= Footer ========================= */
footer .wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  text-transform: uppercase;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 2rem;
  size: fit-content;
}

footer img {
  width: 20px;
  height: 20px;
  margin-inline: 5px;
}

footer a {
  margin-left: 5px;
  color: #b0ff14;
}

footer p {
  font-size: 1.4rem;
}

/* ========================= animações ========================= */

.card ul li p:hover,
.card li img:hover {
  transform: scale(1.1);
}

.card ul li p,
.card li img {
  transition: transform 0.3s;
}

.card h2 {
  opacity: 0.9;
}

.card h2:hover {
  opacity: 1;
}

.card {
  animation: initialization 0.7s;
}

@keyframes initialization {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =========================== Mobile Reset =========================== */
@media (max-width: 580px) {
  .background {
    opacity: 0;
  }

  body {
    background: var(--bg-blue-mobile);
  }

  body.green {
    background: var(--bg-green-mobile);
  }

  body.green footer a {
    color: #338af3;
  }

  footer a {
    color: #047c3f;
  }
}
/* =========================== Reset =========================== */
@media (min-width: 1024px) {
  .wrapper {
    display: flex;

    gap: 3.2rem;
    justify-content: center;
  }

  body {
    background-repeat: no-repeat;
    background-position-y: 55%;
  }

  header .wrapper {
    display: block;
  }

  main {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
  }

  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    flex-direction: row;
    align-items: flex-start;

    max-width: fit-content;
  }

  .card {
    width: 31.6rem;
    min-height: 57.8rem;

    margin-top: 0;
  }
}

/* =========================== scroll bar =========================== */

* {
  scrollbar-width: thin;
  scrollbar-color: #000 var(--card-border-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--card-border-color);
  border-radius: 20px;
  border: 2px solid var(--card-border-color);
}
